html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.container {
  margin: 0 auto;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon {
  filter: var(--icon-filter);
}

.brand {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-16;
}

.page-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}

// Accessibility
:focus {
  @include outline;
}


