html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.container {
  margin: 0 auto;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon {
  filter: var(--icon-filter);
}

.brand {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;

  a:hover {
    opacity: 0.5;
  }

  a, label {
    color: inherit;
  }

  .menu-content {
    width: $menu-width;
    padding: $padding-16;
    background: var(--body-background);

    @include fixed;
  }

  .menu-tags-title {
    margin-bottom: 0.25rem;
  }

  .menu-shortcut-link {
    font-weight: 600;
  }

  .menu-tag-item {
    padding: 0.5rem 0rem;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: $font-size-14;

    .tag-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.5em;
        flex: none; // Ensures that circles are not distorted if the tag's label is big
    }
  }
}

.page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-16;
}

.frontpage-list-title {
  margin-bottom: 0.5rem;
}

.markdown .post-date {
  margin-top: -0.25rem;
}

.page-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    width: 1em;
    margin-inline-end: $padding-8;
  }
}


.page-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}


