// Responsive styles
.site-menu-content,
.content-menu-content,
.page,
.mobile-navigation-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  // Menu Handling
  #site-menu-control,
  #content-menu-control {
    display: inline;
  }

  .mobile-navigation-header {
    display: block;
  }

  .site-menu {
    visibility: hidden;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  #site-menu-control:checked ~ main {
    .site-menu {
      visibility: initial;
    }

    .site-menu .site-menu-content {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .page {
      opacity: 0.25;
    }

    .site-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .content-menu {
    visibility: hidden;
    position: relative;
    left: $toc-width;
    margin-inline-start: -$toc-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  #content-menu-control:checked ~ main {
    .content-menu {
      visibility: initial;
    }

    .content-menu .content-menu-content {
      transform: translateX(-$toc-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .page {
      opacity: 0.25;
    }

    .content-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  // Parts of the page that needs to be rendered differently.
  .mobile-navigation-header {
    margin-bottom: $padding-16;

    label {
      line-height: 0;
    }
  }

  .post-title {
    display: none;
  }

  .list-item {
    display: block;
  }

  // Accessibility
  #site-menu-control:focus ~ main label[for="site-menu-control"] {
    @include outline;
  }

  #content-menu-control:focus ~ main label[for="content-menu-control"] {
    @include outline;
  }
}
