// Responsive styles
.menu-content,
.toc-content,
.page,
.page-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  // Menu Handling
  #menu-control,
  #toc-control {
    display: inline;
  }

  .page-header {
    display: block;
  }

  .menu {
    visibility: hidden;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  #menu-control:checked ~ main {
    .menu {
      visibility: initial;
    }

    .menu .menu-content {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .page {
      opacity: 0.25;
    }

    .menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #toc-control:checked ~ main {
    .page-header aside {
      display: block;
    }
  }

  // Parts of the page that needs to be rendered differently.
  .page-header {
    margin-bottom: $padding-16;

    label {
      line-height: 0;
    }
  }

  .toc,
  .post-title {
    display: none;
  }

  .list-item {
    display: block;
  }

  // Accessibility
  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  // RTL support
  body[dir="rtl"] #menu-control:checked ~ main {
    .menu .menu-content {
      transform: translateX(-$menu-width);
    }
  }
}
