.backlinks {
    margin-bottom: 1rem;
}

.content-menu {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;
  height: 100%;

  .content-menu-content {
      width: $menu-width;
      padding: $padding-16;
      background: var(--body-background);

      @include fixed;
    }

  .toc-content {
    width: $toc-width;
    padding: $padding-16;

    @include fixed;
  }

  .toc-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .toc-tags {
    margin-bottom: 1.25rem;
  }
}

#TableOfContents li {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

#TableOfContents li li {
    margin-left: 1em;
}
