.site-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;
  height: 100%;

  a:hover {
    opacity: 0.5;
  }

  a, label {
    color: inherit;
  }

  .site-menu-content {
    width: $menu-width;
    padding: $padding-16;
    background: var(--body-background);

    @include fixed;
  }

  .site-menu-tags-title {
    margin-bottom: 0.25rem;
  }

  .site-menu-shortcut-link {
    font-weight: 600;
  }

  .list-tag-item {
    padding: 0.5rem 0rem;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: $font-size-14;

    .tag-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.5em;
        flex: none; // Ensures that circles are not distorted if the tag's label is big
    }
  }
}
