<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode }}">
<head>{{ partial "html-head" . }}</head>
<body>
  <!-- Mobile layout control -->
  <input type="checkbox" class="hidden toggle" id="site-menu-control" />
  <input type="checkbox" class="hidden toggle" id="content-menu-control" />

  <main class="container flex">
    <aside class="site-menu">
      <div class="site-menu-content">
        {{ partial "menu-left-site" . }}
      </div>
    </aside>

    <div class="page">
      <!-- Headers -->
      {{ partial "header-mobile-navigation" . }}

      <!-- Main content -->
      {{ template "main" . }}

      <!-- Footers -->
      <footer class="page-footer">
        {{ partial "footer" . }} <!-- Footer under page content -->
      </footer>

      <!-- Mobile overlays to ensure there is a tappable big area to dismiss the menus -->
      <label for="site-menu-control" class="hidden site-menu-overlay"></label>
      {{- if (and .File (default true .Params.ContentMenu)) -}}
      <label for="content-menu-control" class="hidden content-menu-overlay"></label>
      {{- end -}}
    </div>

    {{- if (and .File (default true .Params.ContentMenu)) -}}
    <aside class="content-menu">
      <div class="content-menu-content">
        {{ partial "menu-right-content" . }}
      </div>
    </aside>
    {{- end -}}
  </main>
</body>
</html>
