<!-- Obtain all backlinks. Looks within the page's raw content -->
{{ $backlinks := slice }}
{{ range $other := .Site.RegularPages }}
   {{- if (partial "util/is-backlink" (dict "First" $.Page "Second" $other)) -}}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

<!-- Generate the HTML -->
{{- if gt (len $backlinks) 0 -}}
<div class="backlinks">
<p class="toc-title">Mentioned In</p>
{{- range $backlinks -}}
  {{ partial "component/preview" . }}
{{- end -}}
</div>
{{- end -}}

